.App {
  width: 100wv;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items:center 
}

body {
  padding: 0;
  margin: 0;
}

.board {
  width:500px;
  height: 500px;
  background-color: rgb(163, 132, 188);
  border: 3px solid rgb(65, 30, 121);
  display:flex;
  flex-direction: column; 

} 

.row{
  flex: 33%;
  display:flex;
  flex-direction: row;
  border: 1px solid white

}

.square {
  flex: 33%;
  border: 1px solid black;
  display:grid;
  place-items: center;
  font-size:30px;
  
}

.square:active{
  background-color: blueviolet;
}

